// === GLOBAL ===

@import 'config';

* {
    font-family: "Montserrat Regular";
    box-sizing: border-box;
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, a, p, span {
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

input, textarea {
    padding: 5px 10px;
    border: 2px solid #a5a5a5;
    color: #000;
}

input {
    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        -moz-appearance: textfield;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    resize: none;
}

::-webkit-scrollbar-track {
    background-color: #a5a5a5;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #000;
}

::-webkit-scrollbar {
    width: 7px;
}

// === BUTTONS ===

.btns {
    @include Flex(center, center);
    padding: 15px;
    background-color: #a5a5a5;
    color: #fff;
    font-size: 16px;
    border: none;
    transition: $transition;
    cursor: pointer;
}

.btn-action-1 { @include Button($skyblue, $skyblue-hover) }
.btn-no { @include Button($red, $red-hover) }
.btn-yes { @include Button($green, $green-hover) }

// === INPUTS ===

.input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #a5a5a5;
    transition: $transition;

    &:focus {
        border-bottom: 2px solid #000;
    }

    &-modal {
        width: 100%;
        margin: 5px 0;
        padding: 5px 0;
        border: none;
        background-color: transparent;
        color: #fff;
        font-size: 20px;
        text-align: center;

        option {
            color: #000;
        }
    }
}

// === GLOBAL ELEMENTS ===

.bar {
    position: fixed;
    top: 0;
    width: 35%;
    height: 100%;
    padding: 1.5%;
    background-color: rgba(0, 0, 0, .91);
    color: #fff;
    z-index: 9;

    @media(max-width: 1024px) {
        width: 100%;
    }
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    opacity: 0;
    z-index: 8;
}

.main {
    width: 90%;
    max-width: 1920px;
    height: 100%;
    margin: auto;
    padding: 2% 0;

    &-field {
        position: relative;
        height: inherit;
    }
}

.title {
    font-family: "Montserrat Bold", sans-serif;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    @include Flex(center, center, column);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .91);
    color: #fff;
    z-index: 5;

    &-header, &-body, &-footer {
        width: 60%;
        margin: 10px 0;
        text-align: center;
    }

    &-body {
        @include Flex(flex-start, center, column);

        select {
            width: auto;
        }
    }

    &-title {
        font-size: 72px;
    }

    &-subtitle {
        display: block;
        margin: 15px 0;
        font-size: 24px;
    }

    &-footer {
        @include Flex(center);

        .btns {
            min-width: 130px;
            margin: 0 10px;
        }
    }
}

.invalid {
    display: block;
    width: 100%;
    margin: 5px 0;
    color: $red;
    text-align: center;
    font-family: 'Montserrat Bold', sans-serif;
}

.enter-task {
    width: 90%;
    height: 170px;
    margin: 10px auto;
    border: 4px dashed $skyblue;        
}

// === IMAGES ===

.ava {
    border-radius: 50%;

    &-large {
        width: 96px;
        height: 96px;
    }

    &-medium {
        width: 64px;
        height: 64px;
    }

    &-small {
        width: 32px;
        height: 32px;
    }
}

// === FONTS ===

@font-face {
    font-family: "Montserrat Regular";
    src: url('./../fonts/Montserrat-Regular.woff') format('woff');
    src: url('./../fonts/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
    font-family: "Montserrat Bold";
    src: url('./../fonts/Montserrat-Bold.woff') format('woff');
    src: url('./../fonts/Montserrat-Bold.woff2') format('woff2');
}